@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --main-bg: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

@keyframes odd-animateBackground {
  0% {
    background-position: -100px;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes odd-reverseAnimateBackground {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -100px;
  }
}

@keyframes even-animateBackground {
  0% {
    background-position: 100px;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes even-reverseAnimateBackground {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 100px;
  }
}

.odd-animate {
  animation: odd-animateBackground 0.3s linear;
  animation-fill-mode: forwards;
}

.odd-reverse-animate {
  animation: odd-reverseAnimateBackground 0.3s linear;
  animation-fill-mode: forwards;
}

.even-animate {
  animation: even-animateBackground 0.3s linear;
  animation-fill-mode: forwards;
}

.even-reverse-animate {
  animation: even-reverseAnimateBackground 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes animateContents {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes reverseAnimateContents {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.contents-animate {
  animation: animateContents 0.3s linear;
  animation-fill-mode: forwards;
}

.reverse-contents-animate {
  animation: reverseAnimateContents 0.3s linear;
  animation-fill-mode: forwards;
}
