@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --main-bg: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

@keyframes odd-animate-background {
  0% {
    background-position: -100px;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes odd-reverse-animate-background {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -100px;
  }
}

@keyframes even-animate-background {
  0% {
    background-position: 100px;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes even-reverse-animate-background {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 100px;
  }
}

.odd-animate {
  animation: odd-animate-background 0.3s linear;
  animation-fill-mode: forwards;
}

.odd-reverse-animate {
  animation: odd-reverse-animate-background 0.3s linear;
  animation-fill-mode: forwards;
}

.even-animate {
  animation: even-animate-background 0.3s linear;
  animation-fill-mode: forwards;
}

.even-reverse-animate {
  animation: even-reverse-animate-background 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes animate-contents {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes reverse-animate-contents {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.contents-animate {
  animation: animate-contents 0.3s linear;
  animation-fill-mode: forwards;
}

.reverse-contents-animate {
  animation: reverse-animate-contents 0.3s linear;
  animation-fill-mode: forwards;
}
