@import url("./reset.css");

:root {
  --main-bg: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

@keyframes animateBackground {
  0% {
    background-position: -100px;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes reverseAnimateBackground {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -100px;
  }
}

.animate {
  animation: animateBackground 0.3s linear;
  animation-fill-mode: forwards;
}

.reverse-animate {
  animation: reverseAnimateBackground 0.3s linear;
  animation-fill-mode: forwards;
}
